.main_container {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.footer_logo {
    padding: 0 100px 0 0;
}

.footer_buttons div {
    padding: 0 30px 0 0;
    font-weight: bold;
}

.footer_buttons {
    display: flex;
    align-items: center;
}

.footer_buttons button {
    margin: 0 30px 0 0;
    border-radius: 0;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}
.client_button.client_button {
    color: white;
    border: none;
}
